<header>
        <div>
                <menu class="demo">
                        <ul>
                                <li><a href="{{ path('homepage') }}">Главная</a></li>
                                <li><a href="{{ path('blog') }}">Статьи</a></li>
                                <li><a href="{{ path('search') }}">Поиск</a></li>
                                <li><a href="{{ path('login') }}">Вход/Выход</a></li>
                                <li><a href="{{ path('addarticle') }}">Добавить статью</a></li>
                        </ul>
                </menu>
        </div>
</header>


