{# app/Resources/views/content/edit-article-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/EditArticleController.php' #}
{#    {{ dump(data) }}#}
{#    {{ dump(authors_list) }}#}


{% extends 'base.html.twig' %}


{% block body %}

    {% if message %}
        <div class="alert alert-primary message_nk" role="alert">{{ message }}</div>
    {% endif %}

    <div class="container">
        <h1>Редактировать статью</h1>
        <hr/>


        {% for entry in data %}
        <form action="{{ path('editarticle', {'id': entry.id}) }}" method="post">

            <div class="form-row">
                <!-- col Left -->
                <div class="form-group col-md-8">

                    <label for="title" class="mr_top20_nk">Заголовок:</label>
                    <input type="text" class="form-control" id="title" placeholder="" name="title" value="{{entry.title}}">

                    <div class="custom-file mr_top20_nk">
                        <input type="file" class="custom-file-input" id="url_img" lang="ru" name="url_img" multiple accept="image/*" disabled>
                        <label class="custom-file-label" for="url_img" data-browse="Выбрать файл">Изображение. - в платной версии так и быть, сделаю :D </label>
                    </div>

                    <label for="content" class="mr_top20_nk">Контент: </label>
                    <textarea class="form-control" id="content" style="min-height: 250px" name="content"> {{entry.content|raw}}</textarea>

                </div>

                <!-- col Right -->
                <div class="form-group col-md-4">
                    <label for="id" class="mr_top20_nk">ID</label>
                    <input type="text" class="form-control" id="id"  name="id" value="{{entry.id}}" readonly>

                    <label for="author" class="mr_top20_nk">Автор:</label>
                        <select class="custom-select mr-sm-2" id="author" name="author_id">
                            {% for author in authors_list %}
                                {% if author.usr_id == entry.author_id%}
                                    <option value="{{ author.usr_id }}" selected>{{ author.usr_name }}</option>
                                {% else %}
                                    <option value="{{ author.usr_id }}">{{ author.usr_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                    <label for="date" class="mr_top20_nk">Дата:</label>
                    <input type="date" class="form-control" id="date" placeholder="" name="date" value="{{entry.date}}">

                    <label class="mr-sm-2 mr_top20_nk" for="category">Категория:</label>
                    <select class="custom-select mr-sm-2" id="category" name="category_id">
                        {% for cat in categories_list %}
                            {% if cat.cat_id == entry.category_id %}
                                <option value="{{ cat.cat_id }}" selected>{{ cat.cat_name }}</option>
                            {% else %}
                                <option value="{{ cat.cat_id }}">{{ cat.cat_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label class="mr-sm-2 mr_top20_nk" for="status">Статус:</label>
                    <select class="custom-select mr-sm-2" id="status" name="status">
                        <option value="published" {% if entry.status == 'published' %} selected {% endif %} >Опубликована</option>
                        <option value="draft"     {% if entry.status == 'draft' %} selected {% endif %} >Черновик</option>
                        <option value="deleted"   {% if entry.status == 'deleted' %} selected {% endif %} >Удалён</option>
                    </select>

                    <label class="mr-sm-2 mr_top20_nk" for="access">Доступ:</label>
                    <select class="custom-select mr-sm-2" id="access" name="access">
                        <option value="all" {% if entry.access == 'all' %} selected {% endif %}>ALL</option>
                        <option value="vip" {% if entry.access == 'vip' %} selected {% endif %}>VIP</option>
                    </select>

                </div>
            </div>

            <input type="submit" class="btn btn-primary" name="edit_btn" value="Редактировать" />
            <input type="reset" name="reset_btn" class="btn btn-outline-success" value="Очистить" >
            <input type="submit" class="btn btn-outline-danger" name="del_btn" value="Удалить оконьчательно." />
        </form>
        {% endfor %}

    </div>


{% endblock %}
