{# app/Resources/views/content/home-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/DefaultController.php' #}

{% extends 'base.html.twig' %}


{% block banner %}
    <div class="banner"> <img src="{{ banner }}" /> </div>
{% endblock %}


{% block body %}

    {% if message %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
    {% endif %}


    {#    <div>{{ dump (data) }}</div>#}
    <div style="display:flex; flex-wrap: wrap;">
        {% for entry in data %}
            <div  style="border:1px solid black";>
                <p> {{ entry.id }} </p>
                <p> {{ entry.title}} </p>
                <p> {{ entry.content }} </p>
                <p> {{ entry.date }} </p>
                <p> {{ entry.author_id }} </p>
                <p> {{ entry.status }} </p>
                <p> {{ entry.access}} </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
