{# app/Resources/views/content/users-management-page.html.twig #}
{# шаблон для 'src/AppBundle/Controller/UsersManagementController.php' #}

{% extends 'base.html.twig' %}


{% block body %}
    {% if message %}
        <div class="alert alert-primary message_nk" role="alert">{{ message }}</div>
    {% endif %}

<div class="container">
    <h2>Управление пользователями</h2>
    <h3>Список Пользователей</h3>


        <table class="table table-hover ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Логин</th>
                <th scope="col">Пароь</th>
                <th scope="col">Права</th>
                <th scope="col">Обнов.</th>
                <th scope="col">Удал.</th>
            </tr>
            </thead>
            <tbody>

            {% for entry in list_users %}
            <form method="post" action="/usersmanagement">
                <tr>
                    <th scope="row">-</th>
                    <td><input type="text" class="form-control" name="usr_id" value="{{ entry.usr_id }}" style="max-width:50px;" readonly /></td>
                    <td><input type="text" class="form-control" name="usr_name" value="{{ entry.usr_name }}" /></td>
                    <td><input type="text" class="form-control" name="usr_login" value="{{ entry.usr_login}}" /></td>
                    <td><input type="password" class="form-control" name="usr_pass" value="{{ entry.usr_pass}}" /></td>
                    <td><input type="text" class="form-control" name="usr_role" value="{{ entry.usr_role}}" />
    {#                    <select name="category">#}
    {#                        {% for entry in data.category_list %}#}
    {#                        <option value="{{ entry.role}}">{{ entry.name }}</option>#}
    {#                        {% endfor %}#}
    {#                    </select>#}
                    </td>
                    <td><input type="submit" name="update_btn" class="btn btn-primary btn-sm" value="Обнов." /> </td>
                    <td><input type="submit" name="delete_btn" class="btn btn-danger btn-sm" value="Удал." /> </td>
                </tr>
            </form>
            {% endfor %}

            </tbody>
        </table>


    <hr>
    <h3>Редактирование</h3>

    {{ dump(data) }}
</div>

{% endblock %}
